*{
    box-sizing: border-box;
}
body{
    
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
    grid-template-columns:repeat(8 , 1fr) ;
    row-gap: 50px;
    
   .header{
        background-color: pink;
        display: grid;
        grid-column: 1/9;
        grid-template-columns:repeat(8 , 1fr) ;
        min-height: 200px;
       

        &-text{   
            padding: 0;
            grid-column: 3/6 ;
            height: 35px;
            align-self: center;
            border-style: none;
        }

        &-button{
            cursor: pointer;
            grid-column: 6/7;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border-style: none;
            justify-self: center;
            align-self: center;
            background-color: white ;
            
        }
    }
    
    .display{
        
       grid-column: 3/7;
      

        &-markup{
            grid-column: 3/7;
            background-color: pink;
            margin: 20px 0px;
            height: 100px;
            
            input{
                border-radius: 50%;
            }
        }
    }
}